<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Advanced Combat Tracker" publicKeyToken="a946b61e93d97868" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.255" newVersion="3.3.1.255" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>